<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
        Git and IntelliJ IDEA
    </a>
</nav>

<div class="container mt-2">
    <p>This project has no purpose other than using Git with IntelliJ IDEA.</p>

    <ul>
        <li>
            <a href="#" [routerLink]="['/one']">
                One
            </a>
        </li>
        <li>
            <a href="#" [routerLink]="['/two']">
                Two
            </a>
        </li>
        <li>
            <a href="#" [routerLink]="['/three']">
                Three
            </a>
        </li>
    </ul>

    <hr/>

    <router-outlet></router-outlet>
</div>
